<!DOCTYPE html>
<html>
    <head>
        <title>Parking Waze</title>
        <link rel="stylesheet" href="/css/styles.css" />
        <script src="https://code.jquery.com/jquery-3.1.0.js"></script>
    </head>
    <body>
        <h1>Welcome to Parking Waze</h1>