<!DOCTYPE html>
<html>
    <head>
        <title>Parking Waze</title>
        <link rel="stylesheet" href="/css/styles.css" />
        <script src="https://code.jquery.com/jquery-3.1.0.js"></script>
    </head>
<<<<<<< HEAD
    <body>
=======
    <body>
        
>>>>>>> a5ebd60d1f2b6e409e6e67fc60ae74de099b8e5c
