<% include partials/header %>

<!-- HEADER -->
<div class="header fadeIn">
    <br><h1>Welcome to Parking Waze!</h1>
</div>

<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Login Form -->
        <form>
            <input type="text" id="login" class="fadeIn second" name="login" placeholder="Username">
            <input type="password" id="password" class="fadeIn third" name="password" placeholder="Password"><br>
            <input type="submit" id="loginButton" class="button fadeIn fourth" value="Log In">
        </form>

        <!-- Remind Password -->
        <div id="formFooter">
            <a id="newUser" class="underlineHover" href="/new">Create an Account</a> or
            <a id="continue" class="underlineHover">Continue as Guest</a><br>
        </div>
    </div>
    <span id="message"></span>
</div><br><br>

<script>
    $(document).ready(function() {
        $('#loginButton').on('click', function(e) {
            e.preventDefault(); // Do not submit until I am ready
    
            // CREATE AN AJAX CALL TO VERIFY USERNAME AND PASSWORD 
            $.ajax({
                type: "POST",
                url: "/",
                dataType: "json",
                contentType: "application/json",
                data: JSON.stringify({
                    "username": $("#login").val(),
                    "password": $("#password").val()
                }),
                success: function(result, status) {
                    if (result.successful) {
                        window.location.href = '/user'; // This will navigate to wherever i say...
                    }
                    else {
                        // Show an error message or something and stay here
                        $('#message').html(result.message).css("color", "red");
                        $('#message').show();
                    }
                },
                error: function(xhr, status, message) {
                    console.log("error: ", xhr.responseText);
                }
            });
        });
    });
    
    // IF THEY WANT TO CONTINUE AS GUEST USER 
    $('#continue').on('click', function(e) {
        $.ajax({
            type: "POST",
            url: "/",
            dataType: "json",
            contentType: "application/json",
            data: JSON.stringify({
                "username": "guest",
                "password": "guest123"
            }),
            success: function(result, status) {
                if (result.successful) {
                    window.location.href = '/gmap'; // This will navigate to wherever i say...
                }
                else {
                    // Show an error message or something and stay here
                    $('#message').html(result.message).css("color", "red");
                    $('#message').show();
                }
            },
            error: function(xhr, status, message) {
                console.log("error: ", xhr.responseText);
            }
        });
    });
</script>

<% include partials/footer %>