<!---<% include partials/header %> Have to figure out why header and footer aren't connecting to map.html--->
<!DOCTYPE html>
<html>
    <head>
        <title>Parking Waze</title>
         <link rel="stylesheet" href="/css/styles.css" />
        <!--<script src="https://code.jquery.com/jquery-3.1.0.js"></script>-->
    </head>
    <header>
        Parking Waze
    </header>
    
<script>
  /* npm i jquery-timepicker...already installed timepicker*/
  (function($) {
        $(function() {
            $('input.timepicker').timepicker();
        });
    })(jQuery);

    $('.timepicker').timepicker({
        timeFormat: 'h:mm p',
        interval: 60,
        minTime: '10',
        maxTime: '6:00pm',
        defaultTime: '11',
        startTime: '10:00',
        dynamic: false,
        dropdown: true,
        scrollbar: true
    });

</script>

<h2>What time are you arriving to campus?</h2>
<form id="arrival">
    <input type="text" class="timepicker" name="time"/>
</form>
<h2>Location of Next Class:</h2>
<select>
    <option value="">Select One</option>
    <option value="bit">Business and Information Technology (BIT)</option>
    <option value="library">Library</option>
    <option value="cahss">College of Arts, Humanities, and Social Sciences (CAHSS)</option>
    <option value="gym">Otter Sports Center (Gym)</option>
    <option value="vpa">Visual and Public Arts (VPA)</option>
    <option value="valley">Valley Hall</option>
    <option value="ocean">Ocean Hall</option>
    <option value="chapman">Chapman</option>
    <option value="harbor-coast-pacific">Harbor Hall/Coast Hall/Pacific Hall</option>
    <option value="music">Music Hall</option>
    <option value="language">World Languages North/South</option>
    <option value="oak">Oaks Hall</option>
    <option value="cart">Cinematic Arts & Technology</option>
</select>

<h2>How long are you planning on staying?</h2>
        <select>
            <option value = "">Select One</option>
            <option value = "30">30 min.</option>
            <option value = "45">45 min.</option>
            <option value = "1">1 hr.</option>
            <option value = "2">2 hrs.</option>
            <option value = "3">3+ hrs.</option>
        </select>
        <br>
<!--<h2>How long are you planning on staying?</h2>-->
<!--<form id="departure">-->
<!--    <input type="text" class="timepicker" name="time"/>-->
<!--</form>...How can we implement to use a dropdown menu instead of having user input their time...?--->

<script>
    var arrival = $("#arrival");
    var departure = $("#departure");
    var location = $("#location option:selected").text();

    // mysql call - grab closest 3 lots
</script>

<footer>
<hr>
<p style = "text-align:center;" >
CST336: Internet Programming<br>
&copy; 2019. Parking Waze<br>
Disclaimer: The information in this page might be inaccurate.<br>
It is used for academic purposes only.<br><br>
</footer>
<!---<% include partials/footer %> Have to figure out why header and footer aren't connecting to map.html--->
