<% include partials/header %>

    <div class="header">
        <h1>Create New Account</h1>
    </div>
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <!-- Login Form -->
            <form><br>
                <!-- EMAIL SECTION -->
                <label for="email">Email</label>
                <input type="text" id="email" class="fadeIn third" name="email" required><br>

                <!-- FULL NAME SECTION -->
                <label for="fullName">Full Name</label>
                <input type="text" id="fullName" class="fadeIn third" name="fullName" required><br>

                <!-- USERNAME SECTION -->
                <label for="newUsername">Username</label>
                <input type="text" id="newUsername" class="fadeIn fourth" name="newUsername" required>

                <!-- PASSWORD SECTION -->
                <label for="newPassword">Password</label>
                <input type="password" id="newPassword" class="fadeIn fifth" name="newPassword" required>
                <div id="passwordMessage" style="display:none; color:green;">
                    Must contain at least one number, one uppercase letter,<br> one lowercase letter, and must be at least 8 character long<br><br>
                </div><br><br>

                <!-- SUBMIT BUTTON -->
                <input type="submit" id="createAccountButton" class="button fadeIn sixth" value="Create Account"><br><br>
                <span id="errorMessage"></span>
            </form><br>
        </div><br>
    </div>

    <script>
        var password = document.getElementById("newPassword");

        // When the user clicks on the password field, show the message box
        password.onfocus = function() {
            document.getElementById("passwordMessage").style.display = "block";
        }

        // When the user clicks outside of the password field, hide the message box
        password.onblur = function() {
            document.getElementById("passwordMessage").style.display = "none";
        }

        $("#createAccountButton").on("click", function(e) {
            e.preventDefault(); // Do not submit until I am ready
            let email = $("#email").val(); 
            let fullName = $("#fullName").val();
            let username = $("#newUsername").val();
            let password = $("#newPassword").val();

            if(email == "" || fullName == "" || username == "" || !password.length >= 8) {
                if(email == "") {
                    $("#errorMessage").html("Email is required").css("color", "red"); 
                }
                if (fullName == "") {
                    $("#errorMessage").html("Name is required").css("color", "red");
                }
                if (username == "") {
                    $("#errorMessage").html("Username is required").css("color", "red");
                }
                if (!password.length >= 8) {
                    $("#passwordMessage").css("display", "block");
                    $("#passwordMessage").css("color", "red");
                }
            } else {
                $.ajax({
                    type: "POST",
                    url: "/user",
                    dataType: "json",
                    contentType: "application/json",
                    data: JSON.stringify({
                        "email": email, 
                        "fullName": fullName, 
                        "username": username, 
                        "password": password
                    }),
                    success: function(result, status) {
                        if (result.successful) {
                            window.location.href = '/map'; // This will navigate to wherever i say...
                        }
                        else {
                            // Show an error message or something and stay here
                            $('#errorMessage').html(result.message).css("color", "red");
                            $('#errorMessage').show();
                        }
                    },
                    error: function(xhr, status, message) {
                        console.log("error: ", xhr.responseText);
                    }
                });
            }
        });
    </script>

    <% include partials/footer %>
