<% include partials/header %>
<div class="header">
</div>
<div class="wrapper fadeInDown">
    <h2>Please fill out your schedule!</h2>
    <div id="formContent">
        <!-- Login Form -->
        <form>
            <br>
            <label for="id">School ID</label>
            <input type="text" id="id" class="fadeIn second" name="id" required>
            <div id="idMessage">
                <h3>ID must be:</h3>
                <p id="idlength" class="invalid"><b>7</b> characters long</p>
            </div>
        </form>
    </div>
</div>